<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjs.dao.UserDao">
	<select id="get" resultType="com.yjs.entity.UserDo">
        select * from sys_user
    </select>

	<insert id="save">
        insert into sys_user
		(
			`username`,
			`name`,
			`password`,
			`email`,
			`mobile`
		)
		values
		(
			#{username},
			#{name},
			#{password},
			#{email},
			#{mobile}
		)
    </insert>
</mapper>

